//$fa-font-path: "~font-awesome/fonts";
//@import '~font-awesome/scss/font-awesome.scss';

.hidden {
    display: none;
}

.visible_block {
    display: block;
}

.visible_flex {
    display: flex;
}
